body {
  margin: 0;
  background-color: #7289da;
  display: flex;
  justify-content: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40%;
  border-radius: 10px;
  background-color: #4e4c6b;
  box-shadow: 0px 0px 20px #000;
}

#window {
  width: 60%;
  height: 95px;
  font-size: 30px;
  align-self: flex-start;
  justify-self: center;
  margin-top: 9%;
  background-color: #fffc;
  border-radius: 10px;
  padding: 10px;
  color: #4e4c6b;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#buttons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 4px);
  grid-template-rows: repeat(5, 4px);
  margin-top: 5%;
  gap: 125px;
  width: 26.3%;
}

@keyframes achicar {
  0% {
    width: 120px;
    height: 120px;
  }

  50% {
    width: 115px;
    height: 115px;
  }

  100% {
    width: 120px;
    height: 120px;
  }
}

.achicar-animation {
  animation: achicar 0.2s ease-in-out 0s 1 alternate-reverse;
}

.button {
  border-radius: 20px;
  font-size: 70px;
  width: 120px;
  height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    86deg,
    rgba(97, 81, 255, 1) 0%,
    rgba(149, 90, 246, 1) 100%
  );
  border: none;
  color: #fffd;
  transition: border-radius 0.3s;

  &:hover {
    border-radius: 28px;
  }
}

@media screen and ( max-width: 412px) {
  @keyframes achicar {
    0% {
      width: 80px;
      height: 80px;
    }
  
    50% {
      width: 75px;
      height: 75px;
    }
  
    100% {
      width: 80px;
      height: 80px;
    }
  }

  #wrapper {
    width: 90%;
    height: 80vh;
    margin-top: 10%;

  }

  #buttons {
    gap: 85px;
    margin-right: 58%;
    margin-top: 30%;
  }

  .button {
    width: 80px;
    height: 80px;
    font-size: 60px;
  }

  #window {
    width: 80%;
    height: 20%;
  }
}
